{:objects
 {:User
  {:description "A person who could be employee/student/emergency contact"
   :fields
   {:id {:type (non-null ID)}
    :name {:type (non-null String)}
    :email {:type String}
    :roles {:type (list String)}
    :phone {:type String}
    :address {:type :Address}
    }}

   :Address
   {:description "Address of a user"
    :fields 
    {:id {:type (non-null ID)}
     :street {:type (non-null String)}
     :city {:type (non-null String)}
     :postal_code {:type (non-null String)}
     :country {:type (non-null String)}
     }}
  
  :TimeEntry
  {:description "time entry of user"
    :fields 
    {:id {:type (non-null ID)}
      :total_hours: {:type Integer}
      :task_des {:type String}
      :date {:type Date}
    }}}

 :queries
 {:user_by_id
  {:type :User
   :description "Access a BoardGame by its unique id, if it exists."
   :args
   {:id {:type ID}}
   :resolve :query/user-by-id}}
 :mutations
 {:new_user
   {:type :User
    :description "Create new user"
    :args
    {:name {:type String}
     :email {:type String}
     :roles {:type (list ID)}
     :phone {:type String}
     :address {:type ID}}
    :resolve :mutate/user
   }
 }}